html, body {
    touch-action: none;
    overflow: hidden;
    margin: none;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.653);
}

.control-inner {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 30%;
    border: 5px solid black;
    padding: 10%;
}

.hide {
    display: none;
}

.test {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#questCon {
    display: flex;
    width: 100%;
    height: fit-content;
    height: 20vh;
}

#questCon button {
    margin: auto;
    height: fit-content;
}

#questCon button img {
    max-height: 20vh;
    height: 100%;
}

#questCon button p {
    height: 100%;
}

#testCon {
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

#testCon label {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quest-text, #questCon button p {
    padding: 20px;
    font-size: clamp(40px, 2vw, 60px); 
}

#testCon label img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.vocab-input {
    display: none;
}

.vocab-input:checked+label img,
.vocab-input:checked+label p {
    border-radius: 10%;
    border: 5px solid black;
}

#enterCon {
    padding-top: 5%;
}

#enterCon button{
    margin: auto;
    display: flex;
}