html,
body,
.game-root {
    width: 100%;
    height: 100%;
    margin: 0;
    touch-action: none;
    overflow: hidden;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.653);
}

.control-inner {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 30%;
    border: 5px solid black;
    padding: 10%;
}


.lrbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left,
.right {
    width: 50%;
    height: 100%;
}

#checkCon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.hide {
    display: none;
}

.game-root {
    display: flex;
    flex-direction: column;
}

.text-root {
    height: 10%;
    width: 100%;
}

.card-root {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.card-img {
    width: 100%;
    height: 100%;
}

#findText {
    text-align: center;
}