html, body {
    touch-action: none;
    margin: 0;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.653);
}

.control-inner {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 30%;
    border: 5px solid black;
    padding: 10%;
}

body {
    overflow: hidden;
}

.hide {
    display: none;
}